<launch>
  <arg name="input_stream" />
  <arg name="file_prefix" />
  <arg name="output_directory" />
  <node
      pkg="ros_speech2text"
      name="$(anon audio_save)"
      type="audio_save.py"
      output="screen"
      >
        <param    name="input_stream" value="$(arg input_stream)" />

        <param    name="file_prefix" value="$(arg file_prefix)" />

        <param    name="output_directory" value="$(arg output_directory)" />
    </node>
</launch>
