<launch>
  <arg name="device_name" />
  <arg name="alias" default="hat" />

  <node
    pkg="audio_io"
    name="$(arg alias)"
    type="capture.py"
    output="screen"
    >
      <param    name="device_name" value="$(arg device_name)" />
      <param    name="sample_rate" value="16000" />
      <param    name="num_channels" value="1" />
      <!-- sample width in bytes -->
      <param    name="sample_width" value="2" />
      <param    name="frames_per_chunk" value="1024" />
  </node>
  <node
    pkg="audio_io"
    name="$(anon save)"
    type="save.py"
    output="screen"
    >
      <param    name="input_topic" value="$(arg alias)/data" />
      <param    name="dst" command="bash -c 'printf &quot;$(find ros_speech2text)/audio/$(arg alias)_%(%d-%m-%Y_%Ih%Mm%S)T.wav&quot;'" />
  </node>

  <include file="$(find ros_speech2text)/launch/utterance_detect.launch">
    <arg name="input_stream" value="$(arg alias)/data" />
    <arg name="output_stream" value="$(arg alias)/utterances" />
  </include>

  <include file="$(find ros_speech2text)/launch/utterance_save.launch">
    <arg name="input_stream" value="$(arg alias)/utterances/complete" />
    <arg name="output_directory" value="$(find ros_speech2text)/audio" />
  </include>

  <include file="$(find ros_speech2text)/launch/speech_recognize.launch">
    <arg name="input_stream" value="$(arg alias)/utterances" />
    <arg name="output_stream" value="$(arg alias)/utterances" />
    <arg name="keywords" value="['coffee pot',
                                'screwdriver',
                                'sharpie',
                                'rubber band',
                                'cd',
                                'camera',
                                'watch',
                                'teddy bear',
                                'newspaper',
                                'whiskey',
                                'chocolate',
                                'whistle',
                                'soda',
                                'shoelace',
                                'key',
                                'keys',
                                'light bulb',
                                'tape',
                                'umbrella',
                                'honey',
                                'floss',
                                'garbage bag',
                                'condom',
                                'balloon',
                                'spoon',
                                'chapstick',
                                'chocolate',
                                'umbrella',

                                'temperature',
                                'weather',
                                'season',
                                'animal',
                                'soil',
                                'water supply',
                                'plant',
                                'geography',
                                'people',

                                'hey',
                                'hi',
                                'hello',
                                'jibo'
      ]"/>
  </include>

</launch>
