<launch>
    <!-- sets env var for google apis to work /-->
    <env      name ="GOOGLE_APPLICATION_CREDENTIALS"   value="$(find team_meeting_project)/ros-speech2text-google-stt-cred" />

    <!-- starts node for asynchronous s2t /-->
    <node pkg="team_meeting_project" name="send_speech_to_tablet_node" type="send_speech.py" output="screen">
    	<param    name ="type" value="tablet" />
    </node>

</launch>